<!DOCTYPE html>
<html>
  <head>
    <title>OauthSampleServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <ul>
        <li>id: <%= current_user.id %></li>
        <li>email: <%= current_user.email %></li>
        <li><%= link_to 'signout', destroy_user_session_path, method: :delete %></li>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
